@charset "utf-8";

/* header
------------------------ */
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  margin: 0 auto;
  background-color: #eee;
}

header nav {
  position: relative;
  z-index: 0;
  ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  ul li {
    flex: auto;
    list-style: none;
  }

  ul li a {
    text-align: center;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #101010;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .04em;
  }
}
